body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

.depot td {
    line-height: 1.5;
}

.depot th {
    background-color: #ADD8E6;
}

.server td {
    padding: 5px;
    line-height: 1.5;
}

.server th {
    background-color: #ADD8E6;
}

.config td {
    padding: 5px;
    line-height: 1.5;
}

.config th {
    background-color: #ADD8E6;
}

.configs i {
    text-align: center;
    display: inline-block;
    width: 100%;
}

.configs i:hover {
    cursor: pointer;
}

.depot section {
    margin: 0 10px;
}

.upload input:not([type="submit"]) {
    display: block;
}

.upload textarea {
    display: block;
}

.upload label {
    display: block;
    margin: 10px;
}

.upload form {
    display: flex;
    flex-direction: column;
    flew-wrap: wrap;
    justify-content: space-around;
    width: 200px;
}

.depot {
    margin: 40px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.upload {
    margin: 40px 0;
}

nav { 
    width: 100%;
    background: #e3e3e3;
    position: fixed;
    top: 0;
    left: 0;
    padding: 5px;
}

.navWide {
  display: none;
  margin: 0 auto;
  width: 100%;
}

.navWide .wideDiv {
    text-align: center;
}

nav a {
    margin: 10px 10px 10px 0;
    text-decoration: none;
}

.navNarrow i {
    float: left;
}

.navNarrow .narrowLinks {
    display: none;
}

.narrowLinks a {
    display: block;
    float: left;
    clear: left;
}

@media (min-width: 480px) {

    nav .navWide {
        display: block;
    }

    nav .navNarrow {
        display: none;
    }
}


/* Fancy button */
/* General button style (reset) */
.btn {
	border: none;
	font-family: inherit;
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 15px 20px;
	display: inline-block;
	margin: 10px 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 700;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

/* Pseudo elements for icons */
.btn:before {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.btn-1 {
	border: 3px solid #fff;
	color: #fff;
}

.btn-1a {
    color: #fff;
    background: #ADD8E6;
    box-sizing: border-box;
}

/* Button 1a */
.btn-1a:hover,
.btn-1a:active {
	color: #ADD8E6;
	background: #fff;
}
